WebContent/wsdl/DoesMagic.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test.com" xmlns:intf="http://test.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="doBasicStuff">
    <complexType>
     <sequence>
      <element name="message" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="doBasicStuffResponse">
    <complexType>
     <sequence>
      <element name="doBasicStuffReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="doBasicStuffRequest">

      <wsdl:part element="impl:doBasicStuff" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doBasicStuffResponse">

      <wsdl:part element="impl:doBasicStuffResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DoesMagic">

      <wsdl:operation name="doBasicStuff">

         <wsdl:input message="impl:doBasicStuffRequest" name="doBasicStuffRequest">

       </wsdl:input>

         <wsdl:output message="impl:doBasicStuffResponse" name="doBasicStuffResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DoesMagicSoapBinding" type="impl:DoesMagic">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="doBasicStuff">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doBasicStuffRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doBasicStuffResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DoesMagicService">

      <wsdl:port binding="impl:DoesMagicSoapBinding" name="DoesMagic">

         <wsdlsoap:address location="http://localhost:8080/simple_example/services/DoesMagic"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
